/*added google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
.common_color {
  color: #fd6e0a;
}

.btn {
  color: #fff;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0px;
}

.btn_hireMe {
  padding: 20px 36px;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
}

/* NAVBAR STYLE */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav li {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
  margin-right: 50px;
  display: inline;
  /* padding: 18px 36px; */
  line-height: normal;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}

nav li a {
    text-decoration: none;
    padding: 18px 35px 19px 36px;
}
.active {
  color: #fff;
  background-color: #fd6e0a;
}
nav li a:active,
a:hover {
    color: #fff;
        background-color: #fd6e0a;
        border-radius: 5px;
}
