/*added google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700&display=swap");

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.common_color {
    color: #fd6e0a;
}

.btn {
    color: #fff;
    background-color: #fd6e0a;
    border-radius: 5px;
    border: 0px;
}

.btn_hireMe {
    padding: 20px 36px;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
}

/* NAVBAR STYLE */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav_title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav li {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    margin-right: 50px;
    display: inline;
    line-height: normal;
    text-align: center;
    border-radius: 5px;
    align-items: center;
}

nav li a {
    text-decoration: none;
    padding: 18px 35px 19px 36px;
}

.active {
    color: #fff;
    background-color: #fd6e0a;
}

nav li a:active,
a:hover {
    color: #fff;
    background-color: #fd6e0a;
    border-radius: 5px;
}

/* header related style*/

.header_bgColor {
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/*Bannner related style*/
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}

.banner .profile_image {
    width: 500px;
}

.banner_greetings {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner_title {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px 0px 20px 0px;
}

.banner p {
    color: #757575;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;

}

.banner_btn1,
.banner_btn2 {
    padding: 20px 20px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner_btn2 {
    color: #fd6e0a;
    background-color: transparent;
    border: 1px solid #fd6e0a;
    margin-left: 30px;
}

/* Main section style*/
main section {
    margin: 130px 230px;
}

main section:last-child {
    margin-bottom: 0px;
}


/*About section style */
.about_section {
    align-items: center;
    background: #FFF8F3;

}

.about_title {
    text-align: center;
    color: #181818;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 131px;
}

.about_description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 157px 30px 157px;
}

.about_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 179px 131px 179px;
}

.about_info p {
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.about_info span {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    font-weight: 700;
}

/* What i do section style */
.what-i-do {}

.whatido_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.whatido_desc {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 50px 157px;
}

.my_skills_set {
    display: flex;
    gap: 24px;
}

.skill_set {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}

.skill_set img {}

.skill_set h5 {
    padding: 38px 0px 20px 0px;
    color: #181818;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill_set p {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

/*Resume section*/
.resume_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 113px 0px 130px 0px;

}

.edu_exp {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 50px;
}

.edu {
    /* margin-right: 24px; */
}


.edu_title,
.exp_title {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-bottom: 30px; */
}

.edu_list,
.exp_list {
    border-bottom: 1px solid #D1D1D1;
}

.edu_list:last-child,
.exp_list:last-child {
    border-bottom: none;
}

.edu_list_title,
.exp_list_title {
    color: #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
}

.edu_list h4,
.exp_list h4 {
    color: #757575;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
}

.edu_list p,
.exp_list p {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 0px 85px 30px 0px;
    /* 175% */
}

.cv_button {
    text-align: center;
}

/* connect and message section */
section.connect_msg {
    margin: 0;
    background: #FFF8F3;
}

.connect_msg_block {
    display: flex;
    margin: 130px 230px 0px 230px;
    padding: 130px 0px;
}

.connect_title,
.message_title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.connect p {
    color: #474747;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 117px 30px;
    /* 175% */
}

.connect img {
    margin-right: 24px;
}

/* main>section.connect_msg {
    margin-bottom: 0;
} */

input {
    border-radius: 5px;
    background-color: #fff;
    padding: 18px 355px 18px 30px;
    display: flex;
    margin: 20px 0px;
    max-width: 461px;
}

input[type=text],
input[type=email],
select {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    outline: #757575;
    border: 1px solid #757575;


}


textarea {
    max-width: 461px;
    min-height: 180px;
    border-radius: 5px;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 18px 327px 18px 30px;
    resize: none;
    outline: #757575;
}

/* Responsive and media query */
.hidden {
    display: none;
}

@media screen and (max-width:575px) {
    .what-i-do, section.resume {
        padding: 0;
        margin: 0;
    }

    .my_skills_set,
    .about_info,
    .connect_msg_block,
    .banner,nav, .edu_exp {
        flex-direction: column;
    }
    nav li{
        margin-bottom: 20px;
    }
    .banner{
        justify-content: left;
    }
       

    .whatido_desc {
        padding: 0
    }

    .about_section,
    .connect_msg,
    .connect_msg_block,.header_bgColor,.banner{
        padding: 0;
        margin: 0;
    }

        .banner_btn1,.banner_btn2{
         margin-left: 80px;
        }
    .banner h3, h2,p , .banner_btn1,.edu,.exp_list,.exp_title{
        text-align: center;
    }
    .cv_button{
        margin-bottom: 50px;
    }
    .about_description {
        padding: 0
    }

    .connect_msg_block {
        padding: 5px;
    }

    input {
        padding: 18px 320px 18px 30px;
    }

    textarea {
        padding: 18px 313px 18px 30px;
    }

    form {
        margin: 5px;
    }

}

@media screen and (min-width:575px) and (max-width:992px) {}